body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: auto;
    width: 70%;
    background-image: url("./images/90s-background.jpg");
}

.header-container {
    background-color: #FFEAD8;
    margin: 30px 0px;
    padding: 30px;
    text-align: center;
  
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  font-style:normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

h1{
    margin: 0;
    padding: 0;
}

h2, h3{
 font-family: "Honk", system-ui;
 font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.label {
    font-weight: bold;
}

.profile-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-container, 
.profile-container, 
.factfile-container, 
.image-container,
.question-one-container,
.question-two-container,
.answer-box-one,
.answer-box-two,
.footer-div {
  background: #fffdf7;
  padding: 2rem;
  border: 2px solid #111;
  border-radius: 8px 12px 6px 10px;
  box-shadow: 4px 4px 0 #111;
}

/* Question one container styles */

.answerSlide {
  margin: 30px;
  padding: 15px;
}

.slide-controls{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.slide-btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 8px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0 8px;
 text-align: center;
  text-decoration: none;
}


.left:hover,
.right:hover {
  background-color: #fff;
}

.left:active,
.right:active {
  box-shadow: #422800 1px 1px 0 0;
  transform: translate(1px, 1px);
}

 
/* Question two container starts here */


.first-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
}

.modal-layout{
  display: flex;
  justify-content: center;
}

.open-modal {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  /* text-decoration: none; */
}

.open-modal:hover{
  font-family: "Honk", system-ui;
  font-size: 30px;
}

#modal-title,
#modal-img
{
  margin: 0;
}

#modal-text {
  font-size: 13px;
  margin-bottom: 0;
}

/* #modal-img{
  margin: 0;
} */

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-overlay.active{
  display: flex;
}

/* Modal box */
.modal-content {
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  position: relative;
}

.modal-content img {
  width: 100%;
  margin-bottom: 10px;
 }


.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}


.question-container,
.question-one-container,
.question-two-container,
.footer-div {
    margin: 10px 0;
}

/* footer and links styles */

a {
  margin-right: 20px;
}

a img{
  width: 35px;
  height: 35px;
}

.icon-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.icon-link span {
  margin-top: 0.5rem;
  font-size: 10px;
}

.icon-link:hover {
  font-family: "Honk", system-ui;
}