/* * {
    margin: 10px;
    padding: 0;
} */

* {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}

body {

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: auto;
    width: 70%;
    background-image: url("/images/90s-background.jpg");
}


.header-container {
    background-color: #FFEAD8;
    margin: 30px 0px;
    padding: 30px;
    text-align: center;
  
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  font-style:normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

h1{
    margin: 0;
    padding: 0;
}

h2, h3{
 font-family: "Honk", system-ui;
 font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.label {
    font-weight: bold;
}

.profile-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* .factfile-container {
    background-color: orange;
    border: 3px solid purple;
}

.image-container{
    background-color: blueviolet;
    border: 3px solid black;
} */

.header-container, 
.profile-container, 
.factfile-container, 
.image-container,
.question-one-container,
.question-two-container,
.answer-box-one,
.answer-box-two,
.footer-div {
  background: #fffdf7;
  padding: 2rem;
  border: 2px solid #111;
  border-radius: 8px 12px 6px 10px;
  box-shadow: 4px 4px 0 #111;
}

/* Question one container styles */

.answer-slideshow{
    position: relative;
    width: 100%;
    height: 50vh;
    /* overflow: hidden;  */

    max-width: 600px;
    margin: 0 auto;
    /* text-align:center; */
}

.answerSlide{
  /* border: 1px solid black; */
  display: none;
  padding: 20px 30px;
  margin: 0 30px;
}

.slide-controls {
  position:relative;
  height: 0;
  justify-content: center;
  margin-top: 1rem;
}

.slide-btn {
  position: absolute;
  top: -150px;
 z-index: 10;
    padding: 10px 20px;
    cursor: pointer;
/* 
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.left:hover,
.right:hover {
  background-color: #fff;
}

.left:active,
.right:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .left,
  .right {
    min-width: 120px;
    padding: 0 25px;
  }
}

 
/* Question two container starts here */


.first-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
}

.modal-layout{
  display: flex;
  justify-content: center;
}


.open-modal {
  cursor: pointer;
  text-decoration: none;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.modal-overlay.active{
  display: flex;
  pointer-events: auto;
}

/* Modal box */
.modal-content {
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  position: relative;
}

.modal-content img {
  width: 100%;
  margin-bottom: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

.question-container,
.question-one-container,
.question-two-container,
.footer-div {
    margin: 10px 0;
}

